# TP NoSQL

Prénom : Eva

Nom : BERTRAND

Pour ce TP noté vous avez trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [1]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [3]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://user_NoSQL1:cestTP1NoSQL@clusterbutsd.05re2.mongodb.net/?retryWrites=true&w=majority&appName=ClusterBUTSD'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'movies']

1. Combien de films sont dans la base de données ?

In [43]:
q1 = db.movies.count_documents({})
q1
#Il y 23530 films dans la base de données.

23530

2. Quel est le nombre moyen de votes par pays ? Trier les pays par nombre moyen de votes décroissant.

In [45]:
q2 = db.movies.aggregate([  
        {"$unwind": "$countries"}, 
        {"$group": {
            "_id": "$countries",    
            "scoreMoyen": {"$avg": "$imdb.votes"}  
        }},
        { "$sort": {"scoreMoyen": -1 }}
])  
pd.DataFrame(list(q2))
#A Malte, il y a en moyenne 210571 votes.

                      _id     scoreMoyen
0                   Malta  210571.800000
1                 Bahamas  206061.000000
2             New Zealand   66589.269231
3    United Arab Emirates   53495.833333
4                     USA   35016.703663
..                    ...            ...
153                Kosovo     104.500000
154               Moldova     104.000000
155           North Korea      92.666667
156                Brunei      51.000000
157               Vanuatu       6.000000

[158 rows x 2 columns]

3. Donner la liste des différents genres de films.

In [29]:
q3 = db.movies.distinct(key = "genres")
q3
#Il y a 25 genres de films différents.

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

4. Combien de films ont une note IMDb supérieure à 8 ?

In [57]:
q4 = db.movies.count_documents({"imdb.rating": {'$gt': 8}})
q4
# Il y 1177 films ayant une note IMDb supérieure à 8.

1177

5. Afficher le titre, l'année de sortie et les réalisateurs de tous les films (ne pas afficher l'ID).

In [67]:
q5 = db.movies.find(
    {},
    {"_id": 0, "title": 1, "year": 1, "directors": 1}
)
pd.DataFrame(list(q5))
#Le premier film de la base de données est "Intolerance: Love's Struggle Throughout the Ages" de D.W. Griffith en 1916.

,title,directors,year
0,Intolerance: Love's Struggle Throughout the Ages,[D.W. Griffith],1916
1,The Poor Little Rich Girl,[Maurice Tourneur],1917
2,The Kid,[Charles Chaplin],1921
3,Miss Lulu Bett,[William C. de Mille],1921
4,Safety Last!,"[Fred C. Newmeyer, Sam Taylor]",1923
...,...,...,...
23525,Emelie,[Michael Thelin],2015
23526,Techo y comida,[Juan Miguel del Castillo],2015
23527,Nahid,[Ida Panahandeh],2015
23528,Coin Locker Girl,[Jun-hee Han],2015
23529,Tryapichnyy soyuz,[Mikhail Mestetskiy],2015

6. Afficher le titre et le plot des films réalisés par D.W. Griffith.

In [75]:
q6 = db.movies.find(
    { "directors": "D.W. Griffith" },
    { "_id": 0, "plot": 1, "title": 1}
)
pd.DataFrame(list(q6))
#D.W. Griffith a réalisé 4 films.

,plot,title
0,"The story of a poor young woman, separated by ...",Intolerance: Love's Struggle Throughout the Ages
1,"A greedy tycoon decides, on a whim, to corner ...",A Corner in Wheat
2,"A frail waif, abused by her brutal boxer fathe...",Broken Blossoms or The Yellow Man and the Girl
3,The Civil War divides friends and destroys fam...,The Birth of a Nation

7. Quels sont les 5 acteurs les plus populaires (ceux qui ont joué dans le plus de films) ?

In [93]:
q7 = db.movies.aggregate([  
        {"$unwind": "$cast"}, 
        {"$group": {
            "_id": "$cast",    
            "nb_films": {"$sum": 1}  
        }},
        { "$sort": {"nb_films": -1 }},
        { "$limit": 5 }
])  
pd.DataFrame(list(q7))
#Les  acteurs ayant fait le plus de films sont Gèrard Depardieu, Robert De Niro, Michael Caine, Marcello Mastroianni et Bruce Willis.

                    _id  nb_films
0      Gèrard Depardieu        68
1        Robert De Niro        60
2         Michael Caine        52
3  Marcello Mastroianni        50
4          Bruce Willis        49

8. Quelles sont les 6 années avec le plus de films produits ?

In [103]:
q8 = db.movies.aggregate([   
        {"$group": {
            "_id": "$year",    
            "nb_films": {"$sum": 1}  
        }},
        { "$sort": {"nb_films": -1 }},
        { "$limit": 6 }
]) 
pd.DataFrame(list(q8))
#Les années ayant le plus de films sortis sont 2013, 2014, 2012, 2011, 2009 et 2010.

    _id  nb_films
0  2013      1220
1  2014      1147
2  2012      1109
3  2011      1040
4  2009       990
5  2010       970

9. Combien de films ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 ?

In [117]:
q9 = db.movies.aggregate([
    {"$match": 
         {"imdb.rating": {'$gt': 7}, "year": {'$lt': 2000}}
    }, 
    
])
pd.DataFrame(list(q9))
#Il y a 4747 films réalisés avant 2000 et qui ont une note supérieure à 7.

,_id,plot,genres,rated,cast,num_mflix_comments,title,fullplot,countries,released,directors,writers,awards,lastupdated,year,imdb,type,tomatoes,languages,metacritic
0,573a1390f29313caabcd5c0f,"The story of a poor young woman, separated by ...","[Drama, History]",NOT RATED,"[Lillian Gish, Spottiswoode Aitken, Mary Alden...",1.0,Intolerance: Love's Struggle Throughout the Ages,Intolerance and its terrible effects are exami...,[USA],1916-09-05,[D.W. Griffith],"[D.W. Griffith (scenario), Anita Loos (titles)]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-05 00:01:19.580000000,1916,"{'rating': 8, 'votes': 9880, 'id': 6864}",movie,"{'viewer': {'rating': 3.8, 'numReviews': 4718,...",NaN,NaN
1,573a1391f29313caabcd715c,"The Tramp cares for an abandoned child, but ev...","[Comedy, Drama, Family]",NOT RATED,"[Carl Miller, Edna Purviance, Jackie Coogan, C...",NaN,The Kid,"The opening title reads: ""A comedy with a smil...",[USA],1921-02-06,[Charles Chaplin],[Charles Chaplin],"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-05 00:24:11.143000000,1921,"{'rating': 8.4, 'votes': 56858, 'id': 12349}",movie,"{'viewer': {'rating': 4.2, 'numReviews': 14860...",[English],NaN
2,573a1391f29313caabcd71e3,Wlliam deMille produced and directed Miss Lulu...,"[Comedy, Drama]",NaN,"[Lois Wilson, Milton Sills, Theodore Roberts, ...",2.0,Miss Lulu Bett,Wlliam deMille produced and directed Miss Lulu...,[USA],1921-11-01,[William C. de Mille],"[Clara Beranger (adaptation), Zona Gale (novel)]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-21 00:15:46.140000000,1921,"{'rating': 7.2, 'votes': 204, 'id': 12465}",movie,"{'viewer': {'rating': 2.5, 'numReviews': 2}, '...",NaN,NaN
3,573a1391f29313caabcd796e,When a store clerk organizes a publicity stunt...,"[Comedy, Romance, Thriller]",NOT RATED,"[Harold Lloyd, Mildred Davis, Bill Strother, N...",1.0,Safety Last!,"In 1922, the country boy Harold says goodbye t...",[USA],1923-04-01,"[Fred C. Newmeyer, Sam Taylor]","[Hal Roach (story), Sam Taylor (story), Tim Wh...","{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-21 00:59:44.877000000,1923,"{'rating': 8.3, 'votes': 11803, 'id': 14429}",movie,"{'viewer': {'rating': 4.2, 'numReviews': 3536,...",[English],NaN
4,573a1391f29313caabcd7da6,Millie Stope lives with her grandfather on a r...,"[Drama, Romance]",PASSED,"[Frank Mayo, Virginia Valli, Ford Sterling, Ni...",2.0,Wild Oranges,Millie Stope lives with her grandfather on a r...,[USA],1924-01-20,[King Vidor],"[Joseph Hergesheimer (by), King Vidor (adapted...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:31:55.567000000,1924,"{'rating': 7.1, 'votes': 327, 'id': 15498}",movie,"{'viewer': {'rating': 4.2, 'numReviews': 1519,...",[English],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4742,573a13bcf29313caabd5799a,"Animated Film based on Ray Bradbury's novel ""T...","[Animation, Short, Sci-Fi]",NaN,NaN,NaN,Budet laskovyy dozhd,"Animated Film based on Ray Bradbury's novel ""T...",[Soviet Union],2007-09-29,[Nozim To'laho'jayev],"[Ray Bradbury (story), Nozim To'laho'jayev]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-02 00:30:30.363000000,1984,"{'rating': 7.4, 'votes': 152, 'id': 982856}",movie,NaN,[Russian],NaN
4743,573a13bef29313caabd5b532,Documents 18 months in the lives of three crac...,[Documentary],NaN,[Dicky Eklund],NaN,High on Crack Street: Lost Lives in Lowell,Documents 18 months in the lives of three crac...,[USA],1995-08-08,"[Maryann DeLeo, Richard Farrell]","[Maryann DeLeo, Richard Farrell]","{'wins': 0, 'nominations': 2, 'text': '2 nomin...",2015-07-11 00:45:31.650000000,1995,"{'rating': 7.5, 'votes': 448, 'id': 1052003}",movie,"{'viewer': {'rating': 3.9, 'numReviews': 89, '...",[English],NaN
4744,573a13bef29313caabd5d25f,A ranger whose passion is nude painting comes ...,[Drama],NaN,"[Stole Arandjelovic, Bozidarka Frajt, Uros Kra...",1.0,Zena s krajolikom,A ranger whose passion is nude painting comes ...,[Yugoslavia],1989-07-25,[Ivica Matic],[Ivica Matic],"{'wins': 4, 'nominations': 0, 'text': '4 wins.'}",2015-09-02 22:13:58.007000000,1989,"{'rating': 7.7, 'votes': 75, 'id': 128856}",movie,NaN,[Serbo-Croatian],NaN
4745,573a13d8f29313caabda5ad6,"John Gotti, the head of a small New York mafia...","[Biography, Crime, Drama]",R,"[Armand Assante, William Forsythe, Richard C. ...",2.0,Gotti,"John Gotti, the head of a small New York mafia...","[USA, Canada]",1996-08-17,[Robert Harmon],"[Jerry Capeci (book), Gene Mustain (book), Ste...","{'wins': 6, 'nominations': 16, 'text': 'Nomina...",2015-09-15 11:16:17.247000000,1996,"{'rating': 7.3, 'votes': 4265, 'id': 116441}",movie,"{'viewer': {'rating': 3.6, 'numReviews': 6738,...",[English],NaN
4746,573a13daf29313caabdaba50,"A tribute to stand-up comedian Bills Hicks, wh...","[Documentary, Comedy]",NaN,"[Bill Hicks, Jay Leno, David Letterman]",2.0,It's Just a Ride,"A tribute to stand-up comedian Bills Hicks, wh...",[USA],1994-06-19,[Rupert Edwards],NaN,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-17 02:22:47.507000000,1994,"{'rating': 7.5, 'votes': 37, 'id': 2287418}",movie,"{'viewer': {'rating': 5, 'numReviews': 2, 'met...",[English],NaN

10. Donner les 20 réalisateurs qui ont réalisé le plus de films (afficher seulement leur nom et le nombre de films).

In [111]:
q10 = db.movies.aggregate([  
        {"$unwind": "$directors"}, 
        {"$group": {
            "_id": "$directors",    
            "nb_films": {"$sum": 1}  
        }},
        { "$sort": {"nb_films": -1 }},
        { "$limit": 20 }
])  
pd.DataFrame(list(q10))
#Woody Allen est le réalisateur ayant réalisé le plus de films.

                  _id  nb_films
0         Woody Allen        40
1           John Ford        35
2         John Huston        34
3       Takashi Miike        34
4       Werner Herzog        33
5     Martin Scorsese        32
6    Alfred Hitchcock        31
7        Sidney Lumet        30
8        George Cukor        29
9    Steven Spielberg        29
10      Michael Apted        29
11    Mario Monicelli        29
12  Steven Soderbergh        28
13          Spike Lee        28
14      Robert Altman        28
15         Johnnie To        27
16        Wim Wenders        27
17          Ken Loach        27
18    Jean-Luc Godard        27
19     Clint Eastwood        27

11. Quelle est la note IMDb moyenne des films sortis après 2010 ?

In [131]:
q11 = db.movies.aggregate([   
        {"$match" : {"year" : {"$gt": 2010}}},
        {"$group": {
            "_id": 0,    
            "imdbMoyen": {"$avg": "$imdb.rating"}  
        }},
        { "$sort": {"imdbMoyen": -1 }}
])  
pd.DataFrame(list(q11))
#La note IMDb moyenne des films sortis eaprès 2010 est de 6.54.

   _id  imdbMoyen
0    0   6.544033

12. (bonus) Afficher les films dont le titre contient le mot "love".

In [145]:
q12 = db.movies.aggregate([
    {"$match": {"title" : {"$regex": "^love", "$options": "i"}}}, 
    {"$project" : { "_id" : 0,
                   "title": 1}}
])
pd.DataFrame(list(q12))
#Il y a 128 films dont le titre contient le mot 'love'

                               title
0              Love Finds Andy Hardy
1                    Love Me Tonight
2                   Love on the Dole
3    Love Is a Many-Splendored Thing
4                Love Me or Leave Me
..                               ...
123              Love at First Fight
124                      Love Steaks
125        Love Is the Perfect Crime
126                        Lovemilla
127                             Love

[128 rows x 1 columns]

13. (bonus) Afficher le titre des films ayant un score Rotten Tomatoes (viewer) supérieur à 75.

In [155]:
q13 = db.movies.aggregate([
    {"$match": {"tomatoes.viewer.meter": {"$gt" : 75}}},
    {"$project" : { "_id" : 0,
                   "title": 1}}
])
pd.DataFrame(list(q13))
#Il y a 6602 films qui ont un score Rotten Tomatoes (viewer) supérieur à 75.

                                                 title
0     Intolerance: Love's Struggle Throughout the Ages
1                            The Poor Little Rich Girl
2                                              The Kid
3                                         Safety Last!
4                                         Wild Oranges
...                                                ...
6597                                             Luton
6598                                       Amira & Sam
6599                                     Misconception
6600                                             Grace
6601                         Batman: Assault on Arkham

[6602 rows x 1 columns]